@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<feature name="FeatureA">
    <p>Feature A is enabled</p>
</feature>
<feature name="FeatureB">
    <p>Feature B is enabled</p>
</feature>
<feature name="FeatureC">
    <p>Feature C is enabled</p>
</feature>

@ViewData["OutputString"]

<h1>REALLY BIG NEW FEATURE</h1>

<hr>
<input type="button" id="json_trigger" value="JSON Features for SPA" />
<br />
<p>JSON OUTPUT:</p>
<div id="json_output"></div>

<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
$("#json_trigger").click(function(){
    $.ajax({
        url: "@Url.Action("Features", "Home")",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            $("#json_output").text(JSON.stringify(res));
        }
    });
})
</script>